<!doctype html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta id="appViewport" name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='headline.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='form.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

</head>
<body>
    {% if is_login is defined %}
        <div class="auth">
            <div class="auth__inner">

                <div class="auth__title">Авторизация</div>

                <form class="form" method="post" action="{{ url_for('admin.login') }}">
                    <div class="auth__form">
                        <div class="auth__form__field">
                            <input class="input" type="text" name="username" value="{{ form.username }}" minlength="2" max="100" required>
                        </div>
                        <div class="auth__form__field">
                            <input class="input" type="password" name="password" value="{{ form.password }}" minlength="2" max="100" required>
                        </div>
                    </div>

                    {% if error is defined and error != None %}
                    <div class="form__error">
                        <div class="error">{{ error|safe }}</div>
                    </div>
                    {% endif %}

                    <div class="auth__tools">
                        <input type="submit" value="Войти" class="button">
                    </div>
                </form>

            </div>
        </div>
    {% else %}
        <div class="page headline headline_blue">
            <div class="page__inner headline__inner">

                <a href="{{ url_for('admin.index') }}" class="headline__title">Fastmeet peer</a>

                <div class="headline__menu">
                    <a href="{{ url_for('admin.containers_list') }}" class="headline__menu__item{% if page == 'containers' %} headline__menu__item_active{% endif %}">Containers</a>

                    <a href="{{ url_for('admin.tokens_list') }}" class="headline__menu__item{% if page == 'tokens' %} headline__menu__item_active{% endif %}">Tokens</a>

                    <a href="{{ url_for('admin.users_list') }}" class="headline__menu__item{% if page == 'users' %} headline__menu__item_active{% endif %}">Users</a>
                </div>

                <div class="headline__profile">
                    <div class="headline__profile__name">{{ current_user.name }}</div>
                    <a href="{{ url_for('admin.logout') }}" class="headline__profile__logout">
                        <span class="icon icon_logout"></span>
                    </a>
                </div>

            </div>
        </div>

        <div class="page page_default">
            <div class="page__inner">
                <div class="hdr">{% block name %}{% endblock %}</div>
            </div>
        </div>
    {% endif %}

    {% block body %}
    {% endblock %}

</body>
</html>